[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DoseFinding"]
	path = DoseFinding
	url = https://github.com/openpharma/dosefinding
[submodule "RobinCar2"]
	path = RobinCar2
	url = https://github.com/openpharma/robincar2
[submodule "beeca"]
	path = beeca
	url = https://github.com/openpharma/beeca
[submodule "bfboin"]
	path = bfboin
	url = https://github.com/openpharma/bfboin
[submodule "brms.mmrm"]
	path = brms.mmrm
	url = https://github.com/openpharma/brms.mmrm
[submodule "crmPack"]
	path = crmPack
	url = https://github.com/openpharma/crmpack
[submodule "elaborator"]
	path = elaborator
	url = https://github.com/openpharma/elaborator
[submodule "graphicalMCP"]
	path = graphicalMCP
	url = https://github.com/openpharma/graphicalmcp
[submodule "mmrm"]
	path = mmrm
	url = https://github.com/openpharma/mmrm
[submodule "mtdesign"]
	path = mtdesign
	url = https://github.com/openpharma/mtdesign
[submodule "pmrm"]
	path = pmrm
	url = https://github.com/openpharma/pmrm
[submodule "rbmi"]
	path = rbmi
	url = https://github.com/openpharma/rbmi
[submodule "rbmiUtils"]
	path = rbmiUtils
	url = https://github.com/openpharma/rbmiutils
[submodule "roxylint"]
	path = roxylint
	url = https://github.com/openpharma/roxylint
[submodule "roxytypes"]
	path = roxytypes
	url = https://github.com/openpharma/roxytypes
[submodule "savvyr"]
	path = savvyr
	url = https://github.com/openpharma/savvyr
[submodule "simaerep"]
	path = simaerep
	url = https://github.com/openpharma/simaerep
