[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DataFakeR"]
	path = DataFakeR
	url = https://github.com/openpharma/datafaker
[submodule "brms.mmrm"]
	path = brms.mmrm
	url = https://github.com/openpharma/brms.mmrm
[submodule "mmrm"]
	path = mmrm
	url = https://github.com/openpharma/mmrm
[submodule "mtdesign"]
	path = mtdesign
	url = https://github.com/openpharma/mtdesign
[submodule "simaerep"]
	path = simaerep
	url = https://github.com/openpharma/simaerep
[submodule "visR"]
	path = visR
	url = https://github.com/openpharma/visr
