[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DataFakeR"]
	path = DataFakeR
	url = https://github.com/openpharma/datafaker
	shallow = true
	registered = true
[submodule "mmrm"]
	path = mmrm
	url = https://github.com/openpharma/mmrm
	shallow = true
	registered = true
[submodule "mtdesign"]
	path = mtdesign
	url = https://github.com/openpharma/mtdesign
	shallow = true
	registered = true
[submodule "simaerep"]
	path = simaerep
	url = https://github.com/openpharma/simaerep
	shallow = true
	registered = true
[submodule "visR"]
	path = visR
	url = https://github.com/openpharma/visr
	shallow = true
	registered = true
[submodule "sasr"]
	path = sasr
	url = https://github.com/insightsengineering/sasr
	shallow = true
	registered = false
